name: Build

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:

  spm-build:
    name: SPM build
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [macOS-latest, ubuntu-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Swift version
      run: swift --version
    - name: Build
      run: swift build -v
    - name: Run tests
      run: swift test -v --enable-test-discovery
    - name: Measure performance
      run: swift run -c release
      working-directory: Examples/Performance

  ios-test:
    name: Test iOS
    needs: [spm-build]
    runs-on: macos-latest
    strategy:
      matrix:
        destination:
          - "platform=iOS Simulator,name=iPhone 11"
    steps:
    - uses: actions/checkout@v2
    - name: Build and test
      run: |
        xcodebuild build -workspace 'Examples.xcworkspace' -scheme 'Sample iOS App' -destination "${DESTINATION_DEVICE}"
      working-directory: Examples
      env:
        DESTINATION_DEVICE: ${{ matrix.destination }}

  pod-test:
    name: Test iOS CocoaPods
    needs: [spm-build]
    runs-on: macos-latest
    strategy:
      matrix:
        destination:
          - "platform=iOS Simulator,name=iPhone 11"
    steps:
    - uses: actions/checkout@v2
    - uses: actions/cache@v1
      with:
        path: .bundle
        key: ${{ runner.os }}-gem-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gem-
    - name: Bundle install
      run: bundle install
    - name: Pod install
      run: bundle exec pod install
      working-directory: Examples
    - name: Build and test
      run: |
        xcodebuild build -workspace 'Examples-Cocoapods.xcworkspace' -scheme 'Sample iOS App' -destination "${DESTINATION_DEVICE}"
      working-directory: Examples
      env:
        DESTINATION_DEVICE: ${{ matrix.destination }}
